In [19]:
#   X   # away_current_pos Classement actuelle de l’équipe "away"
#   X   # away_last_yr_pos Classement de l’équipe "away" l’année précédente
#===V===# away_prev_game_perf Performance de l’équipe "away" lors du dernier match
#===V===# away_team_av_points Points marqués en moyenne par l’équipe "away"
#===V===# away_team_av_points_conceded Points concédés en moyenne par l’équipe "away"
#===V===# away_team_away_form Forme de l’équipe "away" à l’extérieur
#===V===# away_team_form Forme de l’équipe "away"
#===V===# away_team_rest_time Temps de repos de l’équipe "away"
#===V===# away_win_percentage Pourcentage de victoires de l’équipe "away"
#   X   # h2h_form Forme en tête-à-tête entre les équipes
#   X   # home_current_pos Classement actuelle de l’équipe "home"
#   X   # home_last_yr_pos Classement de l’équipe "home" l’année précédente
#===V===# home_prev_game_perf Performance de l’équipe "home" lors du dernier match
#===V===# home_team_av_points Points marqués en moyenne par l’équipe "home"
#===V===# home_team_av_points_conceded Points concédés en moyenne par l’équipe "home"
#===V===# home_team_form Forme de l’équipe "home"
#===V===# home_team_home_form Forme de l’équipe "home" à domicile
#===V===# home_team_rest_time Temps de repos de l’équipe "home"
#===V===# home_win_percentage Pourcentage de victoires de l’équipe "home"
#   X   # match_importance Importance du match (ex. finale, demi-finale)
#===V===# Date Jour du match
#===V===# away_team Nom de l’équipe "away"
#===V===# home_team Nom de l’équipe "home"
#===V===# month Mois du match
#===V===# year Année du match
#===V===# result

In [37]:
import numpy as np 
import pandas as pd

In [38]:
games = pd.read_csv("../Data/Foot/Foot_Seasons_Raw.csv")

games_columns_keep = ['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR']
games = games[games_columns_keep]

games['game_date_est'] = pd.to_datetime(games['Date'])

games["year"] = games["game_date_est"].dt.year
games["month"] = games["game_date_est"].dt.month
games["date"] = games["game_date_est"].dt.day

print(" ==== STAT ====")
print(games["FTR"].value_counts())
# case were just WIN or LOSE
# NOT NULL
games = games[games["FTR"]!='D']


games.head(10)

 ==== STAT ====
FTR
H    2300
A    1399
D    1241
Name: count, dtype: int64

C:\Users\User\AppData\Local\Temp\ipykernel_12596\1506106429.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  games['game_date_est'] = pd.to_datetime(games['Date'])

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,game_date_est,year,month,date
1,E0,13/08/05,Everton,Man United,0,2,A,2005-08-13,2005,8,13
5,E0,13/08/05,Portsmouth,Tottenham,0,2,A,2005-08-13,2005,8,13
6,E0,13/08/05,Sunderland,Charlton,1,3,A,2005-08-13,2005,8,13
7,E0,13/08/05,West Ham,Blackburn,3,1,H,2005-08-13,2005,8,13
8,E0,14/08/05,Arsenal,Newcastle,2,0,H,2005-08-14,2005,8,14
9,E0,14/08/05,Wigan,Chelsea,0,1,A,2005-08-14,2005,8,14
10,E0,20/08/05,Birmingham,Man City,1,2,A,2005-08-20,2005,8,20
11,E0,20/08/05,Blackburn,Fulham,2,1,H,2005-08-20,2005,8,20
12,E0,20/08/05,Charlton,Wigan,1,0,H,2005-08-20,2005,8,20
13,E0,20/08/05,Liverpool,Sunderland,1,0,H,2005-08-20,2005,8,20

In [39]:
def map_result(result):
    if result == 'A':
        return 0
    elif result == 'H':
        return 1
    else:
        return 2

games['result'] = games['FTR'].apply(map_result)
games.head(10)

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,game_date_est,year,month,date,result
1,E0,13/08/05,Everton,Man United,0,2,A,2005-08-13,2005,8,13,0
5,E0,13/08/05,Portsmouth,Tottenham,0,2,A,2005-08-13,2005,8,13,0
6,E0,13/08/05,Sunderland,Charlton,1,3,A,2005-08-13,2005,8,13,0
7,E0,13/08/05,West Ham,Blackburn,3,1,H,2005-08-13,2005,8,13,1
8,E0,14/08/05,Arsenal,Newcastle,2,0,H,2005-08-14,2005,8,14,1
9,E0,14/08/05,Wigan,Chelsea,0,1,A,2005-08-14,2005,8,14,0
10,E0,20/08/05,Birmingham,Man City,1,2,A,2005-08-20,2005,8,20,0
11,E0,20/08/05,Blackburn,Fulham,2,1,H,2005-08-20,2005,8,20,1
12,E0,20/08/05,Charlton,Wigan,1,0,H,2005-08-20,2005,8,20,1
13,E0,20/08/05,Liverpool,Sunderland,1,0,H,2005-08-20,2005,8,20,1

In [40]:
def inverse_result(result):
    if result == 0:
        return 1
    elif result == 1:
        return 0
    else:
        return 2


transformed_df = pd.DataFrame(columns=['game_date_est','team', 'result','pts','pts_conceded'])

transformed_df = pd.concat([transformed_df, games[['game_date_est','AwayTeam', 'result','FTAG','FTHG']].rename(columns={'game_date_est':'game_date_est', 'AwayTeam': 'team', 'result': 'result','FTAG':'pts','FTHG':'pts_conceded'})])

# Inverser les résultats
transformed_df['result'] = transformed_df['result'].apply(inverse_result)

transformed_df = pd.concat([transformed_df, games[['game_date_est','HomeTeam', 'result','FTHG','FTAG']].rename(columns={'game_date_est':'game_date_est', 'HomeTeam': 'team', 'result': 'result','FTHG':'pts','FTAG':'pts_conceded'})])



transformed_df = transformed_df.sort_values(by='game_date_est')


# ====== PREVIOUS RESULT ========

transformed_df['previous_result']   = transformed_df.groupby(["team"])["result"].shift(1)

# ====== POURCENTAGE WIN =====

# Calculer la somme cumulée des résultats précédents pour chaque équipe
transformed_df['cumulative_sum'] = transformed_df.groupby(["team"])["result"].cumsum()

# Calculer le nombre total de résultats pour chaque équipe
transformed_df['total_results'] = transformed_df.groupby('team')['result'].cumcount() + 1

# Calculer le pourcentage de victoires pour chaque équipe
transformed_df['win_percentage'] = transformed_df['cumulative_sum'] / transformed_df['total_results']

# Supprimer les colonnes temporaires créées
transformed_df.drop(['cumulative_sum', 'total_results'], axis=1, inplace=True)



# ====== FORM ========
transformed_df['previous_result_2'] = transformed_df.groupby(["team"])["result"].shift(2)
transformed_df['previous_result_3'] = transformed_df.groupby(["team"])["result"].shift(3)
transformed_df['previous_result_4'] = transformed_df.groupby(["team"])["result"].shift(4)
transformed_df['previous_result_5'] = transformed_df.groupby(["team"])["result"].shift(5)

transformed_df["form_5_previous_match"] = transformed_df[['previous_result_5', 'previous_result_4', 'previous_result_3', 'previous_result_2', 'previous_result']].sum(axis=1, skipna=False)
transformed_df  = transformed_df.drop(columns=[ 'previous_result_5', 'previous_result_4', 'previous_result_3', 'previous_result_2'])

 # ===== PAUSE =======
transformed_df['game_date_est'] = pd.to_datetime(transformed_df['game_date_est'])

# Calculer la différence des dates pour chaque équipe
transformed_df['date_difference'] = transformed_df.groupby(["team"])["game_date_est"].diff()

# Plafonner la différence à 7 jours
transformed_df['date_difference'] = transformed_df['date_difference'].clip(upper=pd.Timedelta(days=7))

# Convertir la différence plafonnée en entiers (nombre de jours)
transformed_df['date_difference'] = transformed_df['date_difference'].dt.days
transformed_df['game_date_est'] = transformed_df['game_date_est'].astype(str)


# ====== Moyenne pts =====
transformed_df['pts_shift'] = transformed_df.groupby('team')['pts'].shift(1)
transformed_df['pts_conceded_shift'] = transformed_df.groupby('team')['pts_conceded'].shift(1)
     
transformed_df['moyenne_pts_25'] = transformed_df.groupby('team')['pts_shift'].transform(lambda x: x.rolling(window=25, min_periods=1).mean())
transformed_df['moyenne_pts_conceded_25'] = transformed_df.groupby('team')['pts_conceded_shift'].transform(lambda x: x.rolling(window=25, min_periods=1).mean())
transformed_df  = transformed_df.drop(columns=[ 'pts_shift','pts_conceded_shift'])

transformed_df[transformed_df["team"] == "West Brom"].head(10)

C:\Users\User\AppData\Local\Temp\ipykernel_12596\2986245955.py:12: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  transformed_df = pd.concat([transformed_df, games[['game_date_est','AwayTeam', 'result','FTAG','FTHG']].rename(columns={'game_date_est':'game_date_est', 'AwayTeam': 'team', 'result': 'result','FTAG':'pts','FTHG':'pts_conceded'})])

,game_date_est,team,result,pts,pts_conceded,previous_result,win_percentage,form_5_previous_match,date_difference,moyenne_pts_25,moyenne_pts_conceded_25
66,2005-01-10,West Brom,0,0,2,NaN,0.000000,NaN,NaN,NaN,NaN
112,2005-05-11,West Brom,0,0,1,0.0,0.000000,NaN,7.0,0.000000,2.000000
17,2005-08-20,West Brom,1,2,1,0.0,0.333333,NaN,7.0,0.000000,1.500000
26,2005-08-24,West Brom,0,0,4,1.0,0.250000,NaN,4.0,0.666667,1.333333
31,2005-08-27,West Brom,0,2,3,0.0,0.200000,NaN,3.0,0.500000,2.000000
62,2005-09-24,West Brom,0,1,2,0.0,0.166667,1.0,7.0,0.800000,2.200000
43,2005-10-09,West Brom,0,1,2,0.0,0.142857,1.0,7.0,0.833333,2.166667
153,2005-10-12,West Brom,1,2,0,0.0,0.250000,1.0,3.0,0.857143,2.142857
81,2005-10-15,West Brom,1,2,1,1.0,0.333333,1.0,3.0,1.000000,1.875000
92,2005-10-23,West Brom,0,0,2,1.0,0.300000,2.0,7.0,1.111111,1.777778

In [42]:
games["game_date_est"] = games['game_date_est'].astype(str)
previous_info_merge_away = pd.merge(games, transformed_df, left_on=['game_date_est', 'AwayTeam'], right_on=['game_date_est', 'team'], how='inner')
previous_info_merge_away = previous_info_merge_away.rename(columns={
    "previous_result" : "away_prev_game_perf",
    "form_5_previous_match" : "away_team_form",
    "date_difference" : "away_team_rest_time",
    "moyenne_pts_25" : "away_team_av_points",
    "moyenne_pts_conceded_25" : "away_team_av_points_conceded",
    "win_percentage" : "away_win_percentage",
    

})
# previous_info_merge_away.columns

previous_info_merge_both = pd.merge(previous_info_merge_away, transformed_df, left_on=['game_date_est', 'HomeTeam'], right_on=['game_date_est', 'team'], how='inner')
previous_info_merge_both = previous_info_merge_both.rename(columns={
    "previous_result" : "home_prev_game_perf",
    "form_5_previous_match" : "home_team_form",
    "date_difference" : "home_team_rest_time",
    "moyenne_pts_25" : "home_team_av_points",
    "moyenne_pts_conceded_25" : "home_team_av_points_conceded",    
    "win_percentage" : "home_win_percentage",
})
# previous_info_merge_both.columns
games_transi = previous_info_merge_both.drop(columns=[
                                                        # "game_date_est_x","game_date_est_y",
                                                        "result_y","result_x",
                                                        "team_x","team_y",
                                                        "pts_x","pts_y",
                                                        "pts_conceded_x","pts_conceded_y",
                                            #    "win_percentage_x","win_percentage_y",
                                               ])

print(f"avant : {len(games)}")
print(f"apres : {len(games_transi)}")
games_transi.columns

avant : 3699
apres : 3699

Index(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'game_date_est', 'year', 'month', 'date', 'away_prev_game_perf',
       'away_win_percentage', 'away_team_form', 'away_team_rest_time',
       'away_team_av_points', 'away_team_av_points_conceded', 'result',
       'home_prev_game_perf', 'home_win_percentage', 'home_team_form',
       'home_team_rest_time', 'home_team_av_points',
       'home_team_av_points_conceded'],
      dtype='object')

In [43]:
game_copy = games_transi.copy()

game_copy['previous_result_1_away'] = game_copy.groupby(["AwayTeam"])["result"].shift(1).replace({1: 0, 0: 1})
game_copy['previous_result_2_away'] = game_copy.groupby(["AwayTeam"])["result"].shift(2).replace({1: 0, 0: 1})
game_copy['previous_result_3_away'] = game_copy.groupby(["AwayTeam"])["result"].shift(3).replace({1: 0, 0: 1})
game_copy['previous_result_4_away'] = game_copy.groupby(["AwayTeam"])["result"].shift(4).replace({1: 0, 0: 1})
game_copy['previous_result_5_away'] = game_copy.groupby(["AwayTeam"])["result"].shift(5).replace({1: 0, 0: 1})

game_copy["away_team_away_form"] = game_copy[['previous_result_5_away', 'previous_result_4_away', 'previous_result_3_away', 'previous_result_2_away', 'previous_result_1_away']].sum(axis=1, skipna=False)
game_copy  = game_copy.drop(columns=['previous_result_5_away', 'previous_result_4_away', 'previous_result_3_away', 'previous_result_2_away', 'previous_result_1_away'])

game_copy['previous_result_1_home'] = game_copy.groupby(["HomeTeam"])["result"].shift(1)
game_copy['previous_result_2_home'] = game_copy.groupby(["HomeTeam"])["result"].shift(2)
game_copy['previous_result_3_home'] = game_copy.groupby(["HomeTeam"])["result"].shift(3)
game_copy['previous_result_4_home'] = game_copy.groupby(["HomeTeam"])["result"].shift(4)
game_copy['previous_result_5_home'] = game_copy.groupby(["HomeTeam"])["result"].shift(5)

game_copy["home_team_home_form"] = game_copy[['previous_result_5_home', 'previous_result_4_home', 'previous_result_3_home', 'previous_result_2_home', 'previous_result_1_home']].sum(axis=1, skipna=False)
game_copy  = game_copy.drop(columns=['previous_result_5_home', 'previous_result_4_home', 'previous_result_3_home', 'previous_result_2_home', 'previous_result_1_home'])

game_copy.columns

print(f"avant : {len(games_transi)}")
print(f"apres : {len(game_copy)}")

avant : 3699
apres : 3699

In [46]:
final_game = game_copy.copy()
final_game = final_game.drop(columns=["Date"])
final_game[final_game["HomeTeam"] == "West Brom"][["game_date_est","AwayTeam","HomeTeam","result","away_team_away_form","home_team_home_form"]].head(10)
final_game.columns

Index(['Div', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR', 'game_date_est',
       'year', 'month', 'date', 'away_prev_game_perf', 'away_win_percentage',
       'away_team_form', 'away_team_rest_time', 'away_team_av_points',
       'away_team_av_points_conceded', 'result', 'home_prev_game_perf',
       'home_win_percentage', 'home_team_form', 'home_team_rest_time',
       'home_team_av_points', 'home_team_av_points_conceded',
       'away_team_away_form', 'home_team_home_form'],
      dtype='object')

In [47]:
final_game["away_last_yr_pos"] = 0

final_game["h2h_form"] = 0
final_game["home_current_pos"] = 0
final_game["home_last_yr_pos"] = 0
final_game["match_importance"] = 0


columns_to_have = [
                   "away_last_yr_pos",
                   "away_prev_game_perf",
                   "away_team_av_points",
                   "away_team_av_points_conceded",
                   "away_team_away_form",
                   "away_team_form",
                   "away_team_rest_time",
                   "away_win_percentage",
                   "h2h_form",
                   "home_current_pos",
                   "home_last_yr_pos",
                   "home_prev_game_perf",
                   "home_team_av_points",
                   "home_team_av_points_conceded",
                   "home_team_form",
                   "home_team_home_form",
                   "home_team_rest_time",
                   "home_win_percentage",
                   "match_importance",
                   "result",
                   "Date",
                   "away_team",
                   "home_team",
                   "month",
                   "year"]


convert_dict = {
                # None                             :"away_last_yr_pos"            , 
                "away_prev_game_perf"            :"away_prev_game_perf"         , 
                "away_team_av_points"            :"away_team_av_points"         , 
                "away_team_av_points_conceded"   :"away_team_av_points_conceded", 
                "away_team_away_form"            :"away_team_away_form"         , 
                "away_team_form"                 :"away_team_form"              , 
                "away_team_rest_time"            :"away_team_rest_time"         , 
                "away_win_percentage"            :"away_win_percentage"         , 
                # None                             :"h2h_form"                    , 
                # None                             :"home_current_pos"            , 
                # None                             :"home_last_yr_pos"            , 
                "home_prev_game_perf"            :"home_prev_game_perf"         , 
                "home_team_av_points"            :"home_team_av_points"         , 
                "home_team_av_points_conceded"   :"home_team_av_points_conceded", 
                "home_team_form"                 :"home_team_form"              , 
                "home_team_home_form"            :"home_team_home_form"         , 
                "home_team_rest_time"            :"home_team_rest_time"         , 
                "home_win_percentage"            :"home_win_percentage"         , 
                # None                             :"match_importance"            , 
                "result"                         :"result"                      , 
                "date"                           :"Date"                        , 
                "AwayTeam"                      :"away_team"                   , 
                "HomeTeam"                      :"home_team"                   , 
                "month"                          :"month"                       , 
                "year"                           :"year"                         
}
final_game_csv = final_game.rename(columns=convert_dict)
final_game_csv = final_game_csv[columns_to_have]
final_game_csv

,away_last_yr_pos,away_prev_game_perf,away_team_av_points,away_team_av_points_conceded,away_team_away_form,away_team_form,away_team_rest_time,away_win_percentage,h2h_form,home_current_pos,...,home_team_home_form,home_team_rest_time,home_win_percentage,match_importance,result,Date,away_team,home_team,month,year
0,0,1.0,2.333333,0.666667,NaN,NaN,7.0,1.000000,0,0,...,NaN,7.0,0.500000,0,0,13,Man United,Everton,8,2005
1,0,0.0,2.000000,1.666667,NaN,NaN,7.0,0.750000,0,0,...,NaN,7.0,0.000000,0,0,13,Tottenham,Portsmouth,8,2005
2,0,0.0,1.666667,4.000000,NaN,NaN,7.0,0.250000,0,0,...,NaN,7.0,0.000000,0,0,13,Charlton,Sunderland,8,2005
3,0,1.0,2.000000,1.000000,NaN,NaN,7.0,0.500000,0,0,...,NaN,7.0,1.000000,0,1,13,Blackburn,West Ham,8,2005
4,0,1.0,1.000000,0.000000,NaN,NaN,7.0,0.500000,0,0,...,NaN,7.0,0.750000,0,1,14,Newcastle,Arsenal,8,2005
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3694,0,0.0,1.840000,1.080000,3.0,3.0,7.0,0.782383,0,0,...,4.0,7.0,0.414013,0,1,13,Chelsea,Newcastle,5,2018
3695,0,1.0,3.160000,0.680000,5.0,5.0,7.0,0.676845,0,0,...,1.0,7.0,0.490566,0,0,13,Man City,Southampton,5,2018
3696,0,0.0,0.840000,2.080000,0.0,1.0,7.0,0.431227,0,0,...,3.0,7.0,0.409091,0,0,13,Stoke,Swansea,5,2018
3697,0,0.0,1.520000,1.920000,2.0,1.0,7.0,0.513761,0,0,...,4.0,7.0,0.659401,0,1,13,Leicester,Tottenham,5,2018
3698,0,1.0,1.320000,1.800000,2.0,3.0,7.0,0.574344,0,0,...,3.0,7.0,0.421365,0,1,13,Everton,West Ham,5,2018

In [48]:
final_game_csv = final_game_csv.dropna(subset=columns_to_have)
final_game_csv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3374 entries, 92 to 3698
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   away_last_yr_pos              3374 non-null   int64
 1   away_prev_game_perf           3374 non-null   float64
 2   away_team_av_points           3374 non-null   float64
 3   away_team_av_points_conceded  3374 non-null   float64
 4   away_team_away_form           3374 non-null   float64
 5   away_team_form                3374 non-null   float64
 6   away_team_rest_time           3374 non-null   float64
 7   away_win_percentage           3374 non-null   float64
 8   h2h_form                      3374 non-null   int64
 9   home_current_pos              3374 non-null   int64
 10  home_last_yr_pos              3374 non-null   int64
 11  home_prev_game_perf           3374 non-null   float64
 12  home_team_av_points           3374 non-null   float64
 13  home_team_av_points_conceded  3374 non-null   float64
 14  home_team_form                3374 non-null   float64
 15  home_team_home_form           3374 non-null   float64
 16  home_team_rest_time           3374 non-null   float64
 17  home_win_percentage           3374 non-null   float64
 18  match_importance              3374 non-null   int64
 19  result                        3374 non-null   int64
 20  Date                          3374 non-null   int32
 21  away_team                     3374 non-null   object
 22  home_team                     3374 non-null   object
 23  month                         3374 non-null   int32
 24  year                          3374 non-null   int32
dtypes: float64(14), int32(3), int64(6), object(2)
memory usage: 645.8+ KB

In [49]:
# File path where you want to save the CSV
file_path = "../Data/foot_for_volley_prepro.csv"

# Save DataFrame to CSV
final_game_csv.to_csv(file_path, index=False)